*
{
	color:white;
	font-family: "Century Gothic", "HelveticaNeue";
}

#bg
{
	background-image:linear-gradient(purple,black);
	position: flex; 
	top: 0; 
	left: 0; 
	
	min-width: 100%;
	min-height: 100%;
	
	display:flex;
	flex-direction: column;
}

#fsr-bg
{
	background-image:linear-gradient(orange,red);
	position: flex; 
	top: 0; 
	left: 0; 
	
	min-width: 100%;
	min-height: 100%;
	
	display:flex;
	flex-direction: column;
}

body 
{
	display:flex;
	justify-content:center;
	
	margin-left:auto;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:auto;
}

body p
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

body img 
{
	display: block;
	margin-left: auto;
}

header
{
	text-align: center;
	
	display:flex;
	justify-content:center;
}

footer
{
	background-image: linear-gradient(purple,cyan);
	box-shadow: 1px 10px 10px black;
	
	display:flex;
	justify-content: space-evenly;
}

footer a
{
	color:white;
	padding: 10px;
	background-image: linear-gradient(black,red);
	border: solid 2px white;
	border-radius:10px;
	box-shadow: 10px 10px 5px black;
}