*
{
	font-family: "Century Gothic";
}

#bg
{
	background-image:linear-gradient(purple,blue);
	position: fixed; 
	top: 0; 
	left: 0; 
	
	min-width: 100%;
	min-height: 100%;
}

header
{
	text-align: center;
}

footer
{
	background-color: blue;
}

footer a
{
	color:red;
	padding: 10px;
	background-color: purple;
	border: solid 2px red;
}